<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header"/>

<body>
<header>
    <div th:replace="common/header :: navbar">...</div>
    <div class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-light text-white">Jan Gavlík</h1>
                    <p class="lead text-white">Looking For a Java Dev Position</p>
                </div>
            </div>
        </div>

    </div>
</header>

<div class="container">
    <div class="row " style="margin-top:40px">
        <div class="col-md-6">
            <h4>Portfolio</h4>
        </div>
        <div class="col-md-6">
            <h4>About Me</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul class="timeline">
                <li>
                    <a target="_blank" href="/tasks">Web Task Manager</a>
                    <a href="https://github.com/sithcom255/cv-web" class="float-md">| Source code</a>
                    <a class="float-right">June 2020</a>

                    <p><strong> Click <a href="/tasks">PM</a> for demo!</strong><br>

                        The goal is to have application allowing to create tasks and assign them to team members,
                        track their progress with online project board. Currently in development.<br>

                        Spring Boot, Hibernate, H2 DB was used in conjunction with Thymeleaf and Bootstrap,
                        as I focus on backend mainly.
                    </p>
                </li>
                </li>
                <li>
                    <a href="#">Command-line Banking system</a>
                    <a href="https://github.com/sithcom255/simple" class="float-md">| Source code</a>
                    <a  class="float-right">April, 2020</a>
                    <p>Basic command-line app to explore JDBC,
                        also can perform credit card verification with Luhn algorithm.</p>
                    <p>This app was developed as an assignment in the <a href="https://www.jetbrains.com/academy/">JetBrains Academy</a> program and apart from JDBC, also
                        taught me the basics of multithreading and design patterns. </p>

                    <p></p>
                </li>
                <li>
                    <a href="https://github.com/sithcom255/java_seminar">Java Seminars (FI MUNI)</a>
                    <a href="https://github.com/sithcom255/java_seminar" class="float-md">| Source code</a>
                    <a  class="float-right">1 April, 2014</a>
                    <p>Basic knowledge of Java SE and some of the design patterns were covered.
                        <a href="https://is.muni.cz/predmet/fi/jaro2020/PB162">More info about the course.</a>
                    </p>

                </li>
            </ul>
        </div>
        <div class="col-md-6 align-middle align-items-center">
            <div class="container-fluid align-items-center">
                <h5></h5>
                <p>Hi, I am a graduate student looking for a full-time job. I would prefer a purely IT job or
                    one where I can develop and use my IT knowledge together with project management and
                    economics. Please, do not hesitate to contact me on <a
                            href="https://www.linkedin.com/in/jan-gavl%C3%ADk-52b434153/">
                        LinkedIn
                    </a> where you can also find a bit more about my previous job experiences </p>
                <h5>Background</h5>
                <p>
                    During my undergraduate studies, I profiled myself to become a Project Manager, ideally in software
                    development. I knew that it would be ideal to get technical knowledge, so I slowly started getting
                    into coding in java.
                    When I finished my undergraduate studies ( in Business Management) early in 2020, I finally decided
                    to fully commit to IT and CS.
                    I was able to prepare for the entrance exam and ultimately get to System Engineering and Informatics
                    and took a semester to catch up.
                </p>
                <h5>Goal</h5>
                <p>
                    Initially, I expected to just get an overview of the field so I don't feel out of place, but since
                    coding brought interesting challenges, I would love to continue my career as a developer rather than
                    PM.
                </p>
            </div>

        </div>
    </div>


</div>


</body>
</html>