<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header"/>

<body>
<div th:replace="common/header :: navbar">...</div>
<!-- Bootstrap row -->
<div class="row" id="body-row">
    <!-- Sidebar -->
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block col-2">
        <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
        <!-- Bootstrap List Group -->
        <ul class="list-group sticky-top sticky-offset">
            <!-- Separator with title -->
            <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                <small>IMPLEMENTED</small>
            </li>
            <!-- /END Separator -->
            <!-- Menu with submenu -->

            <a href="/tasks" class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-tasks fa-fw mr-3"></span>
                    <span class="menu-collapsed">Kanban Board</span>
                </div>
            </a>
            <!-- Separator with title -->
            <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                <small>Features in Development</small>
            </li>
            <!-- /END Separator -->
            <a href="#" class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-calendar fa-fw mr-3"></span>
                    <span class="menu-collapsed">Calendar</span>
                </div>
            </a>
            <a href="#" class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-envelope-o fa-fw mr-3"></span>
                    <span class="menu-collapsed">Messages <span class="badge badge-pill badge-primary ml-2">5</span></span>
                </div>
            </a>
            <!-- Separator without title -->
            <li class="list-group-item sidebar-separator menu-collapsed"></li>
            <!-- /END Separator -->
            <a href="#" class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-question fa-fw mr-3"></span>
                    <span class="menu-collapsed">Help</span>
                </div>
            </a>
            <a href="#" data-toggle="sidebar-colapse" class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                    <span id="collapse-text" class="menu-collapsed">Collapse</span>
                </div>
            </a>
            <!-- Logo -->
            <li class="list-group-item logo-separator d-flex justify-content-center">
                <img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30">
            </li>
        </ul>
        <!-- List Group END-->
    </div>
    <!-- sidebar-container END -->

    <!-- MAIN -->
    <div class="col">
          <div class="container-fluid pt-3">
            <h3>Kanban Board</h3>
              <div class="row flex-row flex-sm-nowrap py-3">
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h6 class="card-title text-uppercase text-truncate py-2">To Do</h6>
                            <div class="items border border-light">
                                <div th:each="task :${todotask}">
                                    <div class="card draggable shadow-sm" th:id="*{task.id}">
                                        <div class="card-body p-2">
                                            <div class="card-title">
                                                <img src="//placehold.it/30" class="rounded-circle float-right">
                                                <a href="" class="lead font-weight-light" th:text="${task.name}">TSK-154</a>
                                            </div>
                                            <p th:text="${task.description}">
                                                This is a description of a item on the board.
                                            </p>
                                            <a th:method="post"  th:href="@{/getTask?id=}+${task.id}" class="btn btn-primary btn-sm">View</a>
                                            <a th:method="post"  th:href="@{/changeto/{id}(id=${task.id})}" class="btn btn-primary btn-sm">Start!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h6 class="card-title text-uppercase text-truncate py-2">In Progress</h6>
                            <div class="items border border-light">
                                <div th:each="task :${inProgtask}">
                                    <div class="card draggable shadow-sm" th:id="*{task.id}" >
                                        <div class="card-body p-2">
                                            <div class="card-title">
                                                <img src="//placehold.it/30" class="rounded-circle float-right">
                                                <a href="" class="lead font-weight-light" th:text="${task.name}">TSK-154</a>
                                            </div>
                                            <p th:text="${task.description}">
                                                This is a description of a item on the board.
                                            </p>
                                            <a th:method="post"  th:href="@{/getTask?id=}+${task.id}" class="btn btn-primary btn-sm">View</a>
                                            <a th:method="post"  th:href="@{/changeto/{id}(id=${task.id})}" class="btn btn-primary btn-sm">Finish!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h6 class="card-title text-uppercase text-truncate py-2">Done</h6>
                            <div class="items border border-light">
                                <div th:each="task :${doneTask}">
                                    <div class="card draggable shadow-sm" th:id="*{task.id}" draggable="false">
                                        <div class="card-body p-2">
                                            <div class="card-title">
                                                <img src="//placehold.it/30" class="rounded-circle float-right">
                                                <a href="" class="lead font-weight-light" th:text="${task.name}">TSK-154</a>
                                            </div>
                                            <p th:text="${task.description}">
                                                This is a description of a item on the board.
                                            </p>
                                            <a th:method="post"  th:href="@{/getTask?id=}+${task.id}" class="btn btn-primary btn-sm">View</a>
                                            <a th:method="post"  th:href="@{/changeto/{id}(id=${task.id})}" class="btn btn-primary btn-sm">Hide</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Col END -->

</div>
<!-

</body>
</html>